html {
  background-color: #101010;
  background-image: -webkit-linear-gradient(65deg, #101010 50%, #151515 50%);
  min-height: 1000px;
  font-family: 'Epilogue', sans-serif;
}

h1 {
  color: #FFF;
  padding: 10px;
  font-weight: 200;
  letter-spacing: 1px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #1e1f22;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #1e1f22;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00FFFF;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: black;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #FFF;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #101010;
  color: #00FFFF;
  font-size: 30px;
  padding-bottom: 5px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color: #FFF;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
